---
import SearchBar from '../components/SearchBar.jsx'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tu Parada">
  <header class="font-serif w-full py-12 bg-orange-400 text-white text-center">
    <h1 class="font-bold text-2xl">Tu Parada</h1>
    <p class="text-lg text-balance">Guarda un acceso directo a tu parada y consúltalo de forma rápida y sencilla!</p>
  </header>
  <main class="bg-orange-200 h-screen py-4">
    <section class="max-w-[80ch] m-auto flex flex-col items-center justify-center">
      <SearchBar client:load/>
    </section>
  </main>
</Layout>
