---
import { HistoryIcon, StarIcon } from 'lucide-react'
import Map from '../components/NearStopsMap.jsx'
import RecentStops from '../components/RecentStops.jsx'
import SearchBar from '../components/SearchBar.jsx'
import StarredStops from '../components/StarredStops.jsx'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tu Parada" className="bg-neutral-100">
  <header class="flex flex-col font-serif w-full pt-8 bg-blue-600 text-white">
    <h1 class="font-bold text-3xl text-center">Tu Parada</h1>
    <p class="text-xl text-balance text-center">
      Guarda un acceso directo a tu parada y consúltalo de forma rápida y
      sencilla!
    </p>
    <div class="relative min-h-40 pt-5">
      <section class="-z-10">
        <Map client:only />
      </section>
      <section
        class="absolute inset-x-0 top-0 drop-shadow-lg z-10 max-w-[80ch] m-auto flex flex-col items-center justify-center mt-12"
      >
        <SearchBar client:load />
      </section>
    </div>
  </header>

  <main class="py-6 max-w-[80ch] m-auto px-4 flex flex-col gap-4">
    <section>
      <h2 class="text-2xl font-bold flex flex-row gap-2 items-center mb-2">
        <HistoryIcon className="text-blue-800" size={32} />
        Búsquedas recientes
      </h2>
      <RecentStops client:idle />
    </section>
    <section>
      <h2 class="text-2xl font-bold flex flex-row gap-2 items-center mb-2">
        <StarIcon className="text-blue-800" size={32} />
        Paradas favoritas
      </h2>
      <StarredStops client:load />
    </section>
  </main>
</Layout>
