---
import Map from '../components/Map.jsx'
import Menu from '../components/Menu.jsx'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Tu Parada" className="bg-neutral-100">
  <div class="w-full h-screen relative">
    <Map client:only />
    <Menu/>
  </div>
</Layout>
